.icon {

  width: 1.6em;
  height: auto;
    &.icon-github {
      content: url("../assets/icon-github.png");
    }

    &.icon-phone {
      content: url("../assets/icon-phone.png");
    }

    &.icon-email {
      content: url("../assets/icon-email.png");
    }

    &.icon-stackoverflow {
      content: url("../assets/icon-stackoverflow.png");
    }
    &.icon-linkedin {
      content: url("../assets/icon-linkedin.png");
    }
}
