body {
  margin:0;
}
@page {
  size: A4;
}

.page{
  box-sizing: border-box;

  height: 267mm;
  width: 180mm;
  padding: 0;

  border: dashed 1px black;
  margin: 15mm;
  page-break-after: always;

}

.page:last-child {
    page-break-after: avoid;
}


.page {

  display: flex;
  flex-flow: column nowrap;

}

.page-inner {
  border: solid 1px black;
  margin: 1em;

  flex: 1 0 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {
  border-width: 0 0 2px 0;
  border-color: black;
  border-style: solid;

  padding: 1em;
}

footer {
  border-width: 2px 0 0 0;
  border-color: black;
  border-style: solid;

  padding: 1em;

}

div.body {
  flex: 1 0 auto;
}
