@import "a4";

.page {
  //border-color: red; // Use this to see safety margin;
  
}

html {
  font-family: 'Roboto', sans-serif;
}

header, section {
  padding: 0.5em; 
  //border: dashed 1px black; 
}

h1, h2, h3, h4, h5, h6, p  {
  margin: 0.4em; 
}

section>ul {
  margin: 0;
  margin-left: 1em;
}

p, page>section>ul {
  margin-left: 2em;
}

.link{
  text-decoration: underline;
}

.tech-list {
  font-style: italic; 
}

p.job-title {
  font-weight: bold; 
}



h3 {
  margin-left: 1em;
}


#page1 {
  // display:grid; 

  // grid-template-columns: auto 40%; 
  // grid-template-rows: auto auto auto auto; 

  // grid-template-areas: "header header" 
  // "pfile skillset"
  // "portfolio skillset";

}

header {
  grid-area: header;
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: space-between;

  &>div:first-child {
    flex: 1 0 50%; 
  }
}

#profile {
  p {
    font-size: 1.2em; 
    line-height: 1.4em;
    margin-right: 1em;
  }
}

#skillset {
  grid-area: skillset; 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  section {
    padding: 0.25em;
    &:last-child {
      grid-column: span 3; 
      &>* {
        display: block; 
        margin: 0 auto; 
        width: 75%;
      }
      p, h3 {
        text-align: center; 
      }
      ul {
        position: relative; 
        left:5em; 
        top: 1em; 
      }
    }
  }
  h2 {
    grid-column: span 3; 
  }

}

#socials {
  .social {
    margin-left: 3em; 
    padding: 0.5em 0; 
    display: flex; 
    flex-flow: row nowrap;
    &>*:first-child {
      flex: 0 0 25%; 
    }
  }
}

#portfolio {
  &>section {
    h3 {
      margin-left: 0
    }
  }
  h3 ~* {
    margin-left: 1em;
  }

  p {
    margin-left: 2em;
  }
 
}