@import "a4";
@import "images";
@import "mui"; 
.page {
  //border-color: red; // Use this to see safety margin;  
  //border: solid 1px black; 
  @extend .mui-panel
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; 
}

header, section {
  padding: 0.5em; 
  //border: dashed 1px black; 
}

h1, h2, h3, h4, h5, h6, p  {
  margin: 0.4rem 0; 
}

.page {
  section, header, footer {
    &>h2, &>h3 {
      & ~ * {
        margin-left: 1em;
      }
    }

    h3 ~ p {
      margin-left: 2em;
    }

    h4 ~ p {
      margin-left: 2em; //I'm probably getting a little clever for my own good here. This rule is used in the portfolio section to get the ps to ident
    }
  }
}

.two-column {
  display: flex; 
  flex-flow: row nowrap; 
  margin: 0 auto; 
  &>* {
    flex: 0 0 auto; 
  }
}
.link{
  //text-decoration: underline; //Underlines don't render very well.
}

.tech-list {
  font-style: italic; 
  font-size: 1.05em;
  letter-spacing: 0.02em;
}

p.job-title {
  font-weight: bold; 
}

header {
  grid-area: header;
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: space-between;

  &>div:first-child {
    flex: 1 0 50%; 
  }
}

#availability {
  //border: solid 1px black;
  display: none; //
  padding: 0.2em;
  margin-top: 1em; 
  h2 {
    text-align: center; 
    font-size: 1.2em; 
  }
}

#profile {
  p {
    font-size: 1em; 
    line-height: 1.4em;
    margin-right: 1em;
  }
}

#skillset {

}

#socials {
  .social {
    display: flex; 
    flex-flow: row nowrap;
    align-items: center; 
    padding: 0.5em;
    img {
      margin-right: 1em; 
    }

  }
}
#employment {
  h3 {
    display: inline-block;
    &:not(:first-child) {
      margin-top: 0.8em; 
      margin-bottom: 0; 
    }
    & + p.date {
      display: inline; 
      margin-left: 1em; 
      vertical-align: text-bottom;  

    }
  }

}

#education {
  display: flex; 
  flex-flow: row wrap; 
  h2 {
    flex: 1 0 100%; 
  }
  div {

  }
}