mixin techlist()
    table
        thead
            tr
                th Frontend
                th Backend
                th Infrastructure
                th Tooling
        tbody
            block

div.page#page1 
    header
        div 
            h1 David Johnston
            p.sub Full Stack JavaScript Developer
            p david@blacksheepcode.com
        section#availability 
            h2 Availability
            p August 11th 2019 - Foreseeable future

    section#profile
        h2 Profile
        p I am a full stack JavaScript/TypeScript web developer. My core expertise is frontend development with React and Redux, and backend development with NodeJs and ExpressJs.

        p I am experienced and comfortable with containerised microservices architecture using Docker. 

        p I am a highly engaged developer who enjoys working with in quick feedback loops - and for that I like to use unit testing, frontend tooling, and CI/CD. 

        p In order to create testable code - I like to program using the functional programming paradigm. 

        p I like TypeScript and statically typed languages - as I find they prevent bugs before they occur, and force the developer to think about their design as they write their code. 

    section#employment
        h2 Employment History 

        h3 Araza 
        p.date September 2019 - Present

        p.job-title Contract Developer - Tech Lead
        p Assumed responsiblity for a ticket management SaaS startup project, that involves third party integrations. 
        p Created a component library for the frontend, added TypeScript, and wrote integration tests using an in-memory mongo database to test the backend. 
        p Created a simple CI/CD flow using bitbucket-pipelines. 
        P Responsible for interviewing and onboarding a second developer. 
        p.tech-list React/Redux/Redux-Saga/TypeScript/Jest
        p.tech-list Material-UI/JSS/NodeJs/Express/Mongodb/Mongoose
        p.tech-list Bitbucket-pipelines/GCP Cloud Run/Netlify/Lerna

        h3 460 Degrees 
        p.date March 2019 - June 2019 

        p.job-title Contract Senior Software Engineer

        p Responsible for architecting and implementing a proof of concept demonstrator that showcases the Hyperledger Indy (Libindy) Self Sovereign Identity (SSI) framework.

        p One part of this was building two simple conventional CRUD apps, one a student portal where the user can see their academic transcript, and the other a job site where they can apply for job. 

        p The second part was to build a reusable generic Express RESTful API wrapper around the Libindy SDK. This functionality was then integrated into the conventional apps to allow the issuing of, and then sharing of an academic credential.

        p The conventional applications were integrated to the SSI functionality via an integration layer microservice. 

        p.tech-list React/Redux/Redux-Saga/TypeScript
        p.tech-list Material-UI/JSS/NodeJs/Express/Docker/Webpack/GCP




div.page
    section#employment

    
        h2 Employment History 

        h3 Telstra
        p.date November 2018 - March 2019 

        p.job-title Senior Cloud Engineer contracted via Oreta Pty Ltd. 

        p Responsible for implementing features and maintaining an internal service order form, to achieve a project milestone. 

        p.tech-list React/Redux/Redux-Saga/JavaScript/AntD/Jest/Docker

        h3 DreamWalk 
        p.date August 2018 - November 2018

        p.job-title Contract Web Developer

        p.link
            strong Portfolio: 
            span https://myfootprint.socialfootprintindex.org/login

        p Sole charge responsible for building the frontend of this social footprint application over eight weeks.
   
        p.tech-list React/Redux/Redux-Thunk/JavaScript/Material-UI/JSS/Heroku

        h3 Perplexico 
        p.date May 2018 - August 2018

        p.job-title Contract Web Developer

        p Responsible for building a buyer/seller matching platform, for commercial real estate rentals. 

        p.tech-list Angular/RxJs/Firebase

        h3 Datacom 
        p.date August 2016 - April 2018

        p.job-title Intermediate Java Developer

        ul 
            li Responsible for a mobile responsive reskin of the RealMe digital identity platform, and other feature work. 
            li Created a proof of concept example of how we might implement our existing tech stack on a Kubernetes cluster.

        p.tech-list Java/CSS/JavaScript/JQuery/Bash/Docker/Kubernetes

        h3 Inland Revenue 
        p.date January 2013 - August 2016

        p.job-title Intelligence Analyst

        ul 
            li Extract/Transform/Load developer on a big-data risk assessment project. 
            li Created a node-and-edge graph display and manipulation tool. 

        p.tech-list SAS/XSLT/Python/Java/JavaScript/AngularJS/CSS




div.page

    section#education
        h2 Education
        div 
            h3 Bachelor of Science 
            p University of Canterbury, New Zealand, 2012
            p Computer Science major
        div 
            h3 Bachelor of Arts
            p Otago University, New Zealand, 2007
            p Philosophy major

    section#portfolio
        h2 Portfolio
        section 
            h3 Presentations

            h4 Using Redux-Saga to making testing easier (2019).
            p A talk outlining how redux-saga works, explains JavaScript generator functions, and shows a comparisson of redux-thunk and redux-saga, and how redux-saga is easier to test. 
            p.link https://github.com/dwjohnston/react-redux-saga-demo
            ul section
                li Melbourne React Meetup - February 2019

            h4 Generative Art with JavaScript
            p A talk about creating generative art using JavaScript - giving an outline of various techniques and technologies to use, and how such a side project can help upskill your career. 
            ul 
                li MelbJS - March 2019

    section#socials 
        h2 Socials/Contact
        div.social
            img.icon.icon-email
            span.link david@blacksheepcode.com
        div.social
            img.icon.icon-github
            span.link https://github.com/dwjohnston
        div.social
            img.icon.icon-linkedin
            span.link https://www.linkedin.com/in/davidjohnstonwebdeveloper/
        div.social
            img.icon.icon-stackoverflow
            span.link https://stackoverflow.com/users/1068446/dwjohnston
        div.social
            img.icon.icon-twitter
            span.link https://twitter.com/blacksheepcode
        div.social               
            img.icon.icon-medium
            span.link https://medium.com/@david_63019  

    section#about
        h2 About this CV
        p This is an HTML CV. 
        p It's using the pug templating engine, the muicss CSS library,  and renders to PDF via a library called html5-to-pdf. 
        p See the code here: 
            span.link https://github.com/dwjohnston/cv



