mixin techlist()
    table
        thead
            tr
                th Frontend
                th Backend
                th Infrastructure
                th Tooling
        tbody
            block

div.page#page1 
    header
        div 
            h1 David Johnston

        section#email
            p.sub Full Stack JavaScript Developer
            p david@blacksheepcode.com

    section#employment
        h2 Employment History 


        h3 Whispir
        p.date January 2020 - Present

        p.job-title Senior Software Engineer

        p Working in a product stream that provides end users the ability to create conditional workflows and dynamic web page or email content via a drag and drop interface. 

        p Involves debugging and improving tooling on a shared monorepo; Webpack, TypeScript and linting configurations. 

        p Created a new, fully typed, framework for allowing users to create dynamic React content.

        p Large focus on developer experience. Instrumental in moving towards using React Testing Library over Enyzme. Set up Buildkite pipelines.
        
        h3 Araza 
        p.date September 2019 - January 2020

        p.job-title Contract Developer - Tech Lead
        p Assumed responsiblity for a ticket management SaaS startup project, that involves third party integrations. 
        p Created a component library for the frontend, added TypeScript, and wrote integration tests using an in-memory mongo database to test the backend. 
        p Created a simple CI/CD flow using bitbucket-pipelines. 
        P Responsible for interviewing and onboarding a second developer. 

        h3 460 Degrees 
        p.date March 2019 - June 2019 

        p.job-title Contract Senior Software Engineer

        p Responsible for architecting and implementing a proof of concept demonstrator that showcases the Hyperledger Indy (Libindy) Self Sovereign Identity (SSI) framework.

        p One part of this was building two simple conventional CRUD apps, one a student portal where the user can see their academic transcript, and the other a job site where they can apply for job. 

        p The second part was to build a reusable generic Express RESTful API wrapper around the Libindy SDK. This functionality was then integrated into the conventional apps to allow the issuing of, and then sharing of an academic credential.

        p The conventional applications were integrated to the SSI functionality via an integration layer microservice. 



div.page
    section#employment

    
        h2 Employment History 

        h3 Telstra
        p.date November 2018 - March 2019 

        p.job-title Senior Cloud Engineer contracted via Oreta Pty Ltd. 

        p Responsible for implementing features and maintaining an internal service order form, to achieve a project milestone. 

        h3 DreamWalk 
        p.date August 2018 - November 2018

        p.job-title Contract Web Developer

        p.link
            strong Portfolio: 
            span https://myfootprint.socialfootprintindex.org/login

        p Sole charge responsible for building the frontend of this social footprint application over eight weeks.
   
        h3 Perplexico 
        p.date May 2018 - August 2018

        p.job-title Contract Web Developer

        p Responsible for creating a buyer/seller matching platform, for commercial real estate rentals. 

        h3 Datacom 
        p.date August 2016 - April 2018

        p.job-title Intermediate Java Developer

        ul 
            li Responsible for a mobile responsive reskin of the RealMe digital identity platform, and other feature work. 
            li Created a proof of concept example of how we might implement our existing tech stack on a Kubernetes cluster.

        h3 Inland Revenue 
        p.date January 2013 - August 2016

        p.job-title Intelligence Analyst

        ul 
            li Extract/Transform/Load developer on a big-data risk assessment project. 
            li Created a node-and-edge graph display and manipulation tool. 




div.page

    section#education
        h2 Education
        div 
            h3 Bachelor of Science 
            p University of Canterbury, New Zealand, 2012
            p Computer Science major
        div 
            h3 Bachelor of Arts
            p Otago University, New Zealand, 2007
            p Philosophy major

    section#portfolio
        h2 Portfolio
        section 
            h3 Presentations

            h4 Using Redux-Saga to making testing easier (2019).
            p A talk outlining how redux-saga works, explains JavaScript generator functions, and shows a comparisson of redux-thunk and redux-saga, and how redux-saga makes for easier testing. 
            p.link https://github.com/dwjohnston/react-redux-saga-demo
            ul 
                li Melbourne React Meetup - February 2019

            h4 Generative Art with JavaScript
            p A talk about creating generative art using JavaScript - giving an outline of various techniques and technologies to use, and how such a side project can help upskill your career. 
            ul 
                li MelbJS - March 2019

    section#socials 
        h2 Socials/Contact
        div.social
            img.icon.icon-email
            span.link david@blacksheepcode.com
        div.social
            img.icon.icon-github
            span.link https://github.com/dwjohnston
        div.social
            img.icon.icon-linkedin
            span.link https://www.linkedin.com/in/davidjohnstonwebdeveloper/
        div.social
            img.icon.icon-stackoverflow
            span.link https://stackoverflow.com/users/1068446/dwjohnston
        div.social
            img.icon.icon-twitter
            span.link https://twitter.com/blacksheepcode

    section#about
        h2 About this CV
        p This is an HTML CV. 
        p It's using the pug templating engine, the muicss CSS library,  and renders to PDF via a library called html5-to-pdf. 
        p See the code here: 
            span.link https://github.com/dwjohnston/cv



